/* styling for Rock Paper Scissors game*/

body {
 
 background-color: black; 

}

.rps {


  position: absolute;

	top: 50%;



  left: 45%;



  height: 65%;



  width: 60%;



  margin: -15% 0 0 -25%;

  cursor: pointer;
}

.p  {

  text-align: center;
  padding-top: 450px;
}

#results {


   /* Full height */
   height: 100%; 
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   /*original style*/
  color:silver;
  padding-top: 10%;
  text-align: center;
  font-size: 50px;
}

form input {

  cursor: pointer;
  font-size: 25px;
  background-color:gold;
  color: black;
}
